
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nostralogia3.Models.UserControls.PersonalEventsCollectionModel
@using Nostralogia3.Models.DataWorking

<div class="container">
    <div class="row mt-5" >
        <div class="col-md-10 form-group">
        </div>
        <div class="col-md-2 form-group" id="AddItem">
            <img src="~/Images/Partials/addMore.png" height="40" width="40"/>
        </div>
    </div>
    <div class="container">
        @await Html.PartialAsync("~/Views/UserControls/_NostraTableView.cshtml", Model.Eventstable)
    </div>
</div>

<script>
    $(document).ready(function () {

    });  
</script>