
@{
    ViewData["Title"] = "DataEventView";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using Nostralogia3.Extensions
@model Nostralogia3.ViewModels.EventDataVM

<div class="container-fluid">
    <div class="col-7">
        @using (Html.BeginForm("UpdatePersonalData", "DataWorking", FormMethod.Post))
        {
            //@Html.HiddenFor(x => x._model.Id)
            <section class="bg-light">
                <div class="container">
                    @await Html.PartialAsync("~/Views/UserControls/_SimpleCalendarView.cshtml", Model.CalendarModelFrom, nameof(Model.CalendarModelFrom))
                    @await Html.PartialAsync("~/Views/UserControls/_SimpleCalendarView.cshtml", Model.CalendarModelTo, nameof(Model.CalendarModelTo))
                </div>
            </section>
        }
    </div>
    <div class="col-5">

    </div>
</div>

