section {
    color: floralwhite;
}
#MainHeader {
    font-family: 'Stencil Std';
    font-size: 100px;
    text-align: center;
    color: honeydew;
    height: 100vh;
    padding-top: 20%;
    background-color: #000000;
}
#LogIn {
    
    font-family: Arial;
    font-size: 15px;
    color: floralwhite;
    height: 400px;
}
    #LogIn fieldset {
        padding-top: 10px;
        margin-left: 15px;
    }
    #LogIn fieldset legend {
        padding-top: 50px;
        margin-left: 15px;
        font-weight: bold;
    }
.linkAction {
    font-family: Arial;
    font-size: 15px;
    color: floralwhite;
}
.linkAction:hover {
    color:burlywood;
}

#PlaceEvent select{
    min-width:220px;
}

/*    COLORS    */
.SecondaryYellow
{
    color:#dea92a;
}
    .SecondaryYellow:hover {
        color: #bb8911;
    }

/*Location */
.block_right {
    text-align: right;
}