section {
    color: floralwhite;
}
table, th, td {
    border: 1px solid #a8a7a7;
    border-collapse: collapse;
    padding: 2px 5px;
}

.MainHeaderLabel {
    font-family: 'Stencil';
    font-size: 150px;
    text-align: center;
    color: honeydew;
    height: 100vh;
    padding-top: 20%;
    background-color: black;
}
    .MainHeaderLabel:hover {
        cursor: pointer;
    }
#NostralogiaLabel {
    font-family: 'Stencil';
    font-size: 20px;
    color: floralwhite;
}
#LogIn {
    font-family: Arial;
    font-size: 15px;
    color: floralwhite;
    height: 400px;
}
    #LogIn fieldset {
        padding-top: 10px;
        margin-left: 15px;
    }
    #LogIn fieldset legend {
        padding-top: 50px;
        margin-left: 15px;
        font-weight: bold;
    }
.linkActionHighMenu, linkActionHighMenu ul li {
    font-family: Arial;
    font-size: 17px;
    color: floralwhite;   
}
.linkActionHighMenu:hover {
    color: burlywood;
}
.linkAction {
    font-family: Arial;
    font-size: 20px;
    color: floralwhite;
    font-weight:bold;
}
    .linkAction:hover {
        color: burlywood;
    }
.ErrorMessage {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
#PlaceEvent select {
    min-width: 220px;
}
.tablelabel
{
    font-family:'Book Antiqua';
    font-size:20px;
    font-weight:bold;
    color:#464d69;
    margin: 12px 0 0 40px;
}
.ExpandLabel{
    margin-top:12px;
    font-size:22px;
    font-weight:bold;
    cursor:auto;
}
    .ExpandLabel:hover {
        cursor: url('../Images/Calendar/Hand_normal.cur'), default;
        color:coral;
    }
.CalendarControls{
    width:75px;
    height:27px;
}
.CalendarLabel {
    font-family: Arial;
    font-size: 17px;
    font-weight:bold;
    margin-left:20px;

}
.wrapper {
    width: 500px;
    /*margin: 0 auto;*/
    padding-left: 12%;
}
/*    COLORS    */
.SecondaryYellow {
    color: #dea92a;
}
    .SecondaryYellow:hover {
        color: #bb8911;
    }

.BgColorControls{
    background-color:#f4f4f4;
}

/*Location */
.block_right {
    text-align: right;
}
/* cells tables*/
table {
    line-height: 0.5;
}

.edit_cell{
    cursor: pointer;
    text-decoration:none;
}
.delete_cell {
    cursor: pointer;
   
}
/* buttons*/
.nostr_btn
{
    min-width:100px;
    background-color:#4b4a4a;
    color:white;
    border:1px solid #2b2b2b;
    border-radius:5px;
    margin-right:20px;
}
    .nostr_btn:hover {
        cursor: pointer;
        background-color:#bfbfbf;
        color:navy;
    }

.btn:focus {
    outline: none;
    box-shadow: none;
}
.fa-xl:hover, fa-lg:hover {
    cursor: pointer;
    color: navy;
}
.fa-lg:hover {
    cursor: pointer;
}
    .min_width_combo {
    min-width: 500px;
    overflow: auto;
}
/* enabled-disabled*/
.disabledctrl {
    color: black;
    font-weight:600;
    background-color: #EfEfEf;
    border:solid 1px black;
}