<link rel="stylesheet" href="~/css/dataTables.css" />
<script type="text/javascript" charset="utf8" src="~/js/dataTables.js"></script>
@{
    ViewData["Title"] = "HomPage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model Nostralogia3.Models.HomePageModel
    <div class="row">
        <div class="col-md-7 bg-light">
            @await Html.PartialAsync("~/Views/UserControls/Tables/_NostraTableView.cshtml", Model.PeopleTable)
            @await Html.PartialAsync("~/Views/UserControls/Tables/_NostraTableView.cshtml", Model.EventTable)
            <br/>
        </div>
        <div class="col-md-5 bg-secondary" style="min-height:300px;">
            <ul class="linkAction ml-lg-5 mt-lg-5">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="DataWorking" asp-action="Consulting">Get a consulting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="DataWorking" asp-action="DataPerson">Add data of a person</a>
                </li>
            </ul>
        </div>
    </div>


