<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Nostralogia.css" />

    <title>Nostralogia 3.0</title>
</head>

<body style="background-color:black;">
    <!-- content -->
    <div class="content_top"></div>

    <section id="MainHeader2">
        <div class="MainHeaderLabel">
            Nostralogia
        </div>
    </section>
    @if (string.IsNullOrEmpty(@Model.UserName))
    {
        @await Html.PartialAsync("~/Views/Authentication/_LogIn.cshtml", new Nostralogia3.Models.Authentication.LogInModel())
    }

    @*<div class="content_bot ">

        </div>*@
    <script>
    $(document).ready(function () {
        $("#MainHeader2").on("click", function () {
            window.location.href ='@Url.Action("HomePage", "Home")';
        });

    });
    </script>
</body>
</html>