
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using Nostralogia3.Extensions
@model Nostralogia3.Models.UserControls.Tables.PersonalEventModel

<h1>@Model.MainLabel</h1>
@Html.BeginForm("Index", "PersonalEvent", new { Id = 12345 }, FormMethod.Post)
{
<div class="container ">
    @await Html.PartialAsync("~/Views/UserControls/_SimpleCalendarView.cshtml", Model.DateFrom, nameof(Model.DateFrom))

    @await Html.PartialAsync("~/Views/UserControls/_SimpleCalendarView.cshtml", Model.DateTo, nameof(Model.DateTo))

</div>

}
