
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table>
    <tr>
        <th class="Cldr_Header">Sun</th>
        <th class="Cldr_Header">Mon</th>
        <th class="Cldr_Header">Tue</th>
        <th class="Cldr_Header">Wed</th>
        <th class="Cldr_Header">Thu</th>
        <th class="Cldr_Header">Fri</th>
        <th class="Cldr_Header">Sat</th>
    </tr>
    <tr>
        <td id="td00">1</td>
        <td id="td01">2</td>
        <td id="td02">3</td>
        <td id="td03">4</td>
        <td id="td04">5</td>
        <td id="td05">6</td>
        <td id="td06">7</td>
    </tr>

</table>